body,
html {
  font-family: Roboto,Helvetica,sans-serif;
  margin: 0;
  padding: 0;
}

.mdl-demo .mdl-layout__header-row {
  padding-left: 40px;
}

.mdl-demo .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar {
  overflow: visible;
}

.mdl-demo .mdl-layout__tab-bar {
  padding: 0;
  padding-left: 16px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab {
  height: 64px;
  line-height: 64px;
}

.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab.is-active:after {
  background-color: #fff;
  height: 4px;
}

.mdl-demo main>.mdl-layout__tab-panel {
  padding: 8px;
  padding-top: 48px;
}

.mdl-demo .mdl-card {
  height: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mdl-demo .mdl-card>* {
  height: auto;
}

.mdl-demo .mdl-card .mdl-card__supporting-text {
  margin: 40px;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0;
  color: inherit;
  width: calc(100% - 80px);
}

.mdl-demo.mdl-demo .mdl-card__supporting-text h4 {
  margin-top: 0;
  margin-bottom: 20px;
}

.mdl-demo .mdl-card__actions {
  margin: 0;
  padding: 4px 40px;
  color: inherit;
}

.mdl-demo .mdl-card__actions a {
  color: #00bcd4;
  margin: 0;
}

.mdl-demo .mdl-card__supporting-text+.mdl-card__actions {
  border-top: 1px solid rgba(0,0,0,.12);
}

.mdl-demo #add {
  position: absolute;
  right: 40px;
  top: 36px;
  z-index: 2;
}

.mdl-demo .mdl-layout__content section:not(:last-of-type) {
  position: relative;
  margin-bottom: 48px;
}

.mdl-demo section.section--center {
  max-width: 860px;
}

.mdl-demo section>header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mdl-demo section>.section__play-btn {
  min-height: 200px;
}

.mdl-demo section>header>.material-icons {
  font-size: 3rem;
}

.mdl-demo section>button {
  position: absolute;
  z-index: 1;
  top: 8px;
  right: 8px;
}

.mdl-demo section .section__text {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-top: 8px;
}

.mdl-demo section .section__text h5 {
  font-size: inherit;
  margin: 0;
  margin-bottom: .5em;
}

.mdl-demo section .section__text a {
  text-decoration: none;
}

.mdl-demo section .section__circle-container>.section__circle-container__circle {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin: 8px 0;
}

.mdl-demo section.section--center .section__text:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,.13);
}
